<h1>Author Biographie</h1>
<p> 
	Nom: <%= @author_bio.first_name %> <br>
	Prenom: <%= @author_bio.last_name %><br>
	Déscription: <%= @author_bio.description %><br>
	Email: <%= @author_bio.email %><br>
	Age: <%= @author_bio.age %><br>
	Ville: <%= @author_bio.city.name %><br>
</p>

